# Read more about SSH config files: https://linux.die.net/man/5/ssh_config

ControlMaster auto
ServerAliveInterval 30
ControlPath ~/.ssh/connection-%r@%h:%p
ControlPersist 4h

{{ if .server }}{{ range $key, $value := .server }}
Host {{ $key }}
    HostName {{ $value.host }}
    User {{ $value.user }}
    Port {{ $value.port }}
{{ end }}{{ end }}

Host *
  AddKeysToAgent yes
  UseKeychain yes
  {{ if .personal }}IdentityFile ~/.ssh/id_ed25519{{ end }}

