{
    "leetcode.endpoint": "leetcode-cn",
    "git.autofetch": true,
    "settingsSync.ignoredSettings": [],
    "files.autoSave": "afterDelay",
    "vsicons.dontShowNewVersionMessage": true,
    "go.useLanguageServer": true,
    "go.alternateTools": {
    
    },
    "workbench.editorAssociations": {
        "*.ipynb": "jupyter-notebook"
    },
    "python.venvPath": "/Users/li.baikang/.local/share/virtualenvs",
    "go.toolsManagement.autoUpdate": true,
    "git.enableSmartCommit": true,
    "python.formatting.provider": "black",
    "leetcode.workspaceFolder": "/Users/li.baikang/SynologyDrive/dev/leetcode",
    "leetcode.defaultLanguage": "golang",
    "editor.suggestSelection": "first",
    "vsintellicode.modify.editor.suggestSelection": "automaticallyOverrodeDefaultValue",
    "leetcode.filePath": {
        "default": {
            "folder": "",
            "filename": "${id}.${kebab-case-name}.${ext}"
        }
    },
    "notebook.cellToolbarLocation": {
        "default": "right",
        "jupyter-notebook": "left"
    },
    "files.exclude": {
        "**/.classpath": true,
        "**/.project": true,
        "**/.settings": true,
        "**/.factorypath": true
    },
    "terminal.integrated.fontFamily": "'MesloLGS NF'",
    "git.alwaysSignOff": true,
    "git.enableCommitSigning": true,
    "workbench.colorTheme": "Dracula",
    "workbench.settings.editor": "json"
}